<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navbar.ejs') %>
    <div class="container">
        <div class="row">
            <%- include('../includes/menu.ejs') %>

    <!-- content -->
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Student Assessment
                <a href="/assessment/add" class="btn btn-primary btn-sm pull-right">
                    <i class="glyphicon glyphicon-plus"></i>
                    Tambah Nilai
                </a>
            </div>

            <div class="panel panel-info">
                <table class="table">
                    <% if(assessment.length>0) {%>
                        <% assessment.forEach(function(ass){ %> 
                    <tr>
                        <td class="middle">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object"
                                            src="<%=ass.image %>"
                                            height="100px" width="100px" alt="...">

                                    </a>
                                </div>
                                <div class="media-body">
                                    <address>
                                        Kelas : <%=ass.clas %><br>
                                        Nama Siswa : <%= ass.name %><br>
                                        Jenis Kelasmin :<%= ass.gender%><br>
                                        Nik : <%=ass.nik%> 
                                    </address>
                                </div>
                                <div class="media-body">
                                    <address>
                                        Nilai Anda : <%=ass.score %> 
                                    </address>
                                </div>
                            </div>
                        </td>
                        <td width="100" class="middle">
                            <div>
                                <a href="/assessment/<%=ass.id %>?edit=true" class="btn btn-circle btn-default btn-xs" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <form action="/assessment-delete" method="post">
                                    <input type="hidden" name="id" value="<%= ass.id %>">
                                    <button type="submit" class="btn btn-circle btn-danger btn-xs"><i class="fas fa-trash"></i></button>
                                  </form>
                            </div>
                        </td>
                    </tr>
                    <% }) }else {%>
                    <tr>
                        <td>Data Not Found</td>
                    </tr>
                    <% } %> 
                </table>
            </div>




        </div>
    </div>
    <!-- content -->
    <%- include('../includes/footer.ejs') %>
</body>
</html>